body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.volume-container {
  text-align: center;
}

#volumeControl::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 200px;
  height: 10px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#volumeControl::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#volumeControl::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#volumeIndicator {
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play-button-container {
  margin-bottom: 100px; /* Adjust as needed for spacing */
}

#playPauseBtn {
  font-size: 15px; /* Adjust size as needed */
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #000000; /* This color applies to the icon within the button */
}

#playPauseBtn:focus {
  outline: none;
}