body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.volume-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-slider-container {
  display: flex;
  align-items: center;
}

#volumeControl {
  -webkit-appearance: none;
  width: 200px;
  height: 2px;
  background: #000;
  cursor: pointer;
  margin: 0 10px;
}

#volumeControl::-webkit-slider-thumb,
#volumeControl::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ddd;
  cursor: pointer;
}

#volumeIndicator {
  margin-top: 10px;
}

.play-button-container {
  margin-top: 20px;
}

#playPauseBtn, #playPauseBtn:focus {
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #000000;
  outline: none;
}

@keyframes growShrink {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(6); }
}

#sharkGraphic {
  position: absolute;
  display: none; 
  z-index: 100; 
  top: -25px; 
  left: -35px; 
  transform: translate(70%, -1000%);
}

#sharkGraphic img {
  width: 100px; 
  height: auto;
  display: block;
}
